<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/views/posts/posts.css" />
    <title>posts</title>
</head>

<body>
    <p id="credit">Powered and Maintained By AYMAN LYESRI</p>
    <p id="tutorial">
        --> Hover for Zoom <br />
        <br /> --> Click for <strong>MORE ZOOM</strong> <br /><br /> --> Click the <strong>ID</strong> for download
    </p>

    <% result.forEach(element => { %>
        <figure>
            <img src="data:<%= element.type %>;base64,<%= element.data %>" />
            <figcaption>
                <a href="data:<%= element.type %>;base64,<%= element.data %>" download="image_<%= element.id %>">
          { _id : <%= element.id %> }
        </a>
            </figcaption>
        </figure>

        <% }); %>

            <form id="next" action="/posts" method="POST">
                <input type="hidden" name="offset" value="<%= offset %>" />
                <input type="hidden" name="next" value="next" />
                <input type="submit" value="next" />
            </form>

            <% if(offset>=15){ %>

                <button onclick="history.back()">Go Back</button>

                <% } %>
</body>

</html>